<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
    <preference for="CustomContect\CustomForm\Api\Data\CustomformInterface" type="CustomContect\CustomForm\Model\CustomFormData" />
	<preference for="CustomContect\CustomForm\Api\CustomformRepositoryInterface" type="CustomContect\CustomForm\Model\CustomFormDataRepository" />
	<virtualType name="CustomformGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">CustomContect\CustomForm\Model\ResourceModel\CustomFormData\Collection</argument>
        </arguments>
    </virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="custom_form_listing_data_source" xsi:type="string">CustomContect\CustomForm\Model\ResourceModel\CustomFormData\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="CustomContect\CustomForm\Model\ResourceModel\CustomFormData\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">registration_form</argument>
            <argument name="eventPrefix" xsi:type="string">custome_form_collection</argument>
            <argument name="eventObject" xsi:type="string">customeform_collection</argument>
            <argument name="resourceModel" xsi:type="string">CustomForm\CustomForm\Model\ResourceModel\CustomFormData</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="CustomContect\CustomForm\Api\Data\CustomformInterface" xsi:type="string">CustomContect\CustomForm\Api\CustomformRepositoryInterface</item>
            </argument>
        </arguments>
    </type>

        <type name="CustomContect\CustomForm\Model\Imageuploader\ImageUploader">
            <arguments>
                <argument name="baseTmpPath" xsi:type="string">label/tmp/image</argument>
                <argument name="basePath" xsi:type="string">label/image</argument>
                <argument name="allowedExtensions" xsi:type="array">
                    <item name="jpg" xsi:type="string">jpg</item>
                    <item name="jpeg" xsi:type="string">jpeg</item>
                    <item name="gif" xsi:type="string">gif</item>
                    <item name="png" xsi:type="string">png</item>
                </argument>
            </arguments>
        </type>
           
       

</config>
