<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="reminder" frontName="reminder">
            <module name="Icecube_OrderReminder"/>
        </route>
    </router>
</config>
