<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
     <type name="Magento\Framework\Console\CommandList">
         <arguments>
                <argument name="commands" xsi:type="array">
                    <item name="ProxeyExample" xsi:type="object">CustomeModule\ProxeyExample\Console\FirstCommand</item>
                    <!-- <item name="ProxeyExample2" xsi:type="object">CustomeModule\ProxeyExample\Console\SecondCommand</item> -->
                </argument>
            </arguments>
        </type>    


        
      <type name="CustomeModule\ProxeyExample\Console\FirstCommand">
            <arguments>
                <argument name="helperClass" xsi:type="object">CustomeModule\ProxeyExample\Helper\HelperClassB\Proxy</argument>
            </arguments>
     </type>


</config>