<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="CustomeModule_News::CustomeModule"
         title="CUSTOMEMODULE"
          translate="title"
          module="CustomeModule_News"
           sortOrder="90"
            dependsOnModule="CustomeModule_News"
              resource="CustomeModule_News::news"/>
        <add id="CustomeModule_News::news"
         title="News" 
         translate="title"
          module="CustomeModule_News"
           parent="CustomeModule_News::CustomeModule" 
           sortOrder="50" 
           dependsOnModule="CustomeModule_News" 
            resource="CustomeModule_News::news"/>
        <add id="CustomeModule_News::news_allnews" 
            title="All News"
             translate="title"
              module="CustomeModule_News"
               parent="CustomeModule_News::news"
                sortOrder="10"
                 dependsOnModule="CustomeModule_News"
                   action="news/allnews"
                    resource="CustomeModule_News::news_allnews"/>

<!-- new tab  configration in CustomeModuel  Tab -->
 <add id="CustomeModule_News::settings"
         title="Settings" 
         translate="title"
          module="CustomeModule_News"
           parent="CustomeModule_News::CustomeModule" 
           sortOrder="60" 
           dependsOnModule="CustomeModule_News" 
            resource="CustomeModule_News::settings"/>
 <add id="CustomeModule_News::news_config"
         title="Configration" 
         translate="title"
          module="CustomeModule_News"
           parent="CustomeModule_News::settings" 
           sortOrder="10" 
           dependsOnModule="CustomeModule_News"
           action="adminhtml/system_config/edit/section/testimonial" 
            resource="CustomeModule_News::news_config"/>
    </menu>
</config>
